// 字体定义规范
$font-size-small: 10px;
$font-size-small-x: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

// 未读数量 ui 颜色定义
$color-background-unread: #ff0000;
$color-txt-unread: #fff;
